@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #13177B;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-info {
    display: flex;
    width: 65%;
    height: 100vh;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 3rem;
}

.contenedor-potencia-redes-info {
    border: 2px solid #fff;
    padding: 10px;
    position: relative;
}

.contenedor-potencia-redes-info h3 {
    margin-bottom: 10px;
}

/* Cambio de estilo para los botones */
.contenedor_button button,
.contenedor-atencion-cliente button,
.login-next-boost button {
    background-color: #03C8E4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
/* Fin del cambio de estilo para los botones */

.contenedor-atencion-cliente {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contenedor-atencion-cliente::before {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 55%;
    height: 25%;
    z-index: -1;
    
}



.login-next-boost {
    width: 35%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 540px) {
    .login-next-boost {
        display: block;
    }

    .register,
    .login-next-boost {
        flex: none;
    }

    .register::after {
        top: unset;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
}
