@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #13177B;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-info {
    display: flex;
    width: 65%;
    height: 100vh;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 3rem;
}

.contenedor-potencia-redes-info {
    border: 2px solid #fff;
    padding: 10px;
    position: relative;
    background-image: linear-gradient(to bottom, #0039A6 60%, #fff 60%); /* Fondo dividido en dos colores */
}

.contenedor-potencia-redes-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-next-boost {
    width: 35%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 540px) {
    .login-next-boost {
        display: block;
    }

    .register,
    .login {
        flex: none;
    }

    .register::after {
        top: unset;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
}


